@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Good Samaritan</h1>
    <p class="lead">Welcome To The Good Samaritan Management Interface.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Login to get access to all the features the Good Samaritan Management Interface has to offer. Add Clients, Change Permissions or alter the options for
            creating clients in the appropriate sub-section in the menu
        </p>
    </div>
    
</div>